# Build files
dist/

# Include some configs
!*.config.js
!.eslintrc.js

# Node modules
node_modules

# Temporary files
tmp

# When npm runs error it write logs to the below file
npm-debug.log

# IDE
.idea

# Operating System files
.DS_Store
